h1 {
    font-size: 1.5em;
    text-align: center;
}
p {
    text-align: center;
}
.button-row {
    text-align: center;
}
.color {
    min-width: 1em;
    min-height: 1em;
    display: inline-block;
}

#main {
    padding-bottom: 1em;
}
